.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* nav styles */
nav {
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    width: 100%;
    height: 600px;
    
}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
}
.nav2{
    text-align: center;
    margin-top: 120px;
}
.nav2 p{
    font-size:65px ;
    font-weight: bold;
}
.btn-pr{
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    background-color:#4E47FF;
    border-radius: 10px;
    color:#FFFFFF ;
    
}
.nav1 h1{
    font-size: 50px;
   font-weight: bolder; 
   color: #4E47FF;
}
/* sec 1 */
.sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 300px;
}
.sec1 h1{
    font-size: 42px;
}
.sec1 p{
    font-size: 24px;
}
.sec1 img{
    border-radius: 20px;
}
/* sec2 */
.sec2{
    background-color:#d2d1f1 ;
    margin: 20px 300px;
    padding: 60px 200px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}
.users{
    display: flex;
    justify-content: space-between;
    

}
.sec2 h1{
    font-size: 40px;
    font-weight: bold;
}
.info h2{
    font-size: 80px;
    font-weight: bold;
    margin: 0%;
    align-items: center;
    text-align: center;
    color: #4E47FF;
}
.info p{
    font-size: 20px;
    color: #000000;
}
/* sec3 */
.sec3 h1{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 80px;
}
.users-say{
    background-color:#e2edee ;
    width: 380px;
    padding: 20px 20px;
    border-radius: 10px;
}
.users-img{
    display: flex;
    gap: 20px;
}
.users-img img{
    border-radius: 500px;
}
.users-flex{
    display: flex;
    justify-content: space-between;
    margin: 10px 300px;
    margin-bottom: 150px;
}
/* sec4 */
.sec4{
    text-align: center;
    background-color: antiquewhite;
    width:68.5%;
    margin-left: 300px;
    border-radius: 30px;
    padding: 50px 0;
}
.sec4 h1{
font-size: 50px;
font-weight: bold;
}
.sec4 img{
    margin-top: 40px;
    border-radius: 50px;
    margin-bottom: 30px;
}